@media (max-width: 768px) {
    .nav-links {
        display: none; 
    }
    
    #hamburger-nav {
        display: block; 
    }
    
    section {
        margin: 0 2rem;     
    }

    .title {
        font-size: 2.5rem; 
    }

    .details-container {
        font-size: 1.5rem; 
    }

    .profile-pic {
        width: 150px; 
        height: 150px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 1.5rem; 
    }
    
    .title {
        font-size: 2rem; 
    }

    button {
        padding: 0.3rem 0.8rem; 
    }
}
